body{
    padding: 0px;
    margin: 0px;
}
.container{
    padding: 5px;
}
a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    font-size: 20px;
}
a:hover{
    color: black;
}
nav{
    height: 50px;
    background-color: royalblue;
}
ul{
    margin: 0px;
    height: 50px;
}
ul li{
    display: inline-block;
    padding: 13px;
    color: antiquewhite;
    font-weight: bold;
}

/* table */

.task{
    text-align: center;
}